<%#
  Available locals:
  * content (The object the essence is linked to the element)
  * html_options

  Please consult Alchemy::Content.rb docs for further methods on the content object
%>
<div class="content_editor essence_credit" id="<%= content.dom_id %>" data-content-id="<%= content.id %>" style="padding-left: 20px;">
  <h4>Image credit</h4>
  <label>Title</label>
  <%= text_field_tag(
    content.form_field_name(:title),
    content.essence.title,
    :id => content.form_field_id
  ) %>

  <label>Author</label>
  <%= text_field_tag(
    content.form_field_name(:author),
    content.essence.author
  ) %>

  <label>Institution</label>
  <%= text_field_tag(
    content.form_field_name(:institution),
    content.essence.institution
  ) %>

  <label>Link</label>
  <%= text_field_tag(
    content.form_field_name(:url),
    content.essence.url
  ) %>

  <label>License</label>
  <%= select_tag(
    content.form_field_name(:license),
    options_for_select({"Public Domain Mark" => "public",
"Out of copyright - non commercial re-use" => "OOC",
"CC0" => "CC0",
"CC-BY" => "CC_BY",
"CC-BY-SA" => "CC_BY_SA",
"CC-BY-ND" => "CC_BY_ND",
"CC-BY-NC" => "CC_BY_NC",
"CC-BY-NC-SA" => "CC_BY_NC_SA",
"CC-BY-NC-ND" => "CC_BY_NC_ND",
"Rights Reserved - Free Access" => "RR_free",
"Rights Reserved - Paid Access" => "RR_paid",
"Orphan Work" => "orphan",
"Unknown" => "unknown"})
  ) %>
</div>
