<%#
  Available locals:
  * content (The object the essence is linked to the element)
  * html_options

  Please consult Alchemy::Content.rb docs for further methods on the content object
%>
<div class="content_editor essence_credit" id="<%= content.dom_id %>" data-content-id="<%= content.id %>" style="padding-left: 20px;">
  <h4>Image credit</h4>
  <label>Title</label>
  <%= text_field_tag(
    content.form_field_name(:title),
    content.essence.title,
    :id => content.form_field_id
  ) %>

  <label>Author</label>
  <%= text_field_tag(
    content.form_field_name(:author),
    content.essence.author
  ) %>

  <label>Institution</label>
  <%= text_field_tag(
    content.form_field_name(:institution),
    content.essence.institution
  ) %>

  <label>Link</label>
  <%= text_field_tag(
    content.form_field_name(:url),
    content.essence.url
  ) %>

  <label>Rights</label>
  <%= select_tag(
    content.form_field_name(:license),
    options_for_select(Europeana::Mixins::ImageCredit::LICENSES, content.essence.license)
  ) %>

  <label>Country</label>
  <%= country_select("contents[#{content.id}]", "country_code", {selected: content.essence && content.essence.country_code ? content.essence.country_code : :blank, include_blank: true}, allow_blank: true) %>
</div>
