<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="image">
      <%= el.render :image %>
    </div>
    <div class="image_credit">
      <%= el.render :image_credit %>
    </div>
    <div class="title">
      <%= el.render :title %>
    </div>
    <div class="sub_title">
      <%= el.render :sub_title %>
    </div>
    <div class="body">
      <%= el.render :body %>
    </div>
    <div class="label">
      <%= el.render :label %>
    </div>
    <div class="partner_logo">
      <%= el.render :partner_logo %>
    </div>
  <%- end -%>
<%- end -%>
